.fieldGame {
    margin-left: 20%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 4px 1px 2px rgba(17, 16, 16, 0.1) ;
    width: 500px;
    height: 500px;
    background-color: darkgrey;
}
.box {
    /* margin-left: 10px; */
    width: 120px;
    height: 120px;
    text-align: center;
    border: 2px solid #333;
    /* box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1) ; */
    background-color: chocolate;

}
.box_active{
    width: 120px;
    height: 120px;
    text-align: center;
    border: 2px solid #333;
    /* box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1) ; */
    background-color: rgb(235, 134, 63);
    /* background:url(/src/goblin.png) center/50px no-repeat; */
    background-image: url(/src/js/goblin/goblin.png);
}
.activeGoblinBtn {
    box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1) ;
    border: 2px solid #333;
    width: 75px;
    height:40px;
    background-color:rgb(198, 245, 201); 

}
